a.disabled {
   pointer-events: none;
   cursor: default;
}

nav {
	background-image: -webkit-linear-gradient(left, #191414 50%, #fff 50%);
}

.navbar-fixed, nav {
	height: 80px;
}

#logo {
	width: 250px;
	padding-top: 7px;
}

div.spotify-wrapper,
div.youtube-wrapper {
	height: 100vh; 
	color: white;
	padding-top: 20px!important;
	/* 
	vh is a unit of measurement of current viewport (window)
	1vh == 1% viewport height so 100vh == 100% viewport height. 
	*/
}

div.row.content::after {
	content: none; 
	/*
	since we're using a row to hold all of our content, materialize's default clearfix
	adds an annoying ~10px white space to the bottom of the page. 
	This is a clearfix-fix.
	 */
}

.login-button {
	background-color: #1DB954;
	border-radius: 25px;
	color: white;
	min-width: 280px;
	height: 60px;
	font-size: 18px;
}

.login-button img {
	width: 32px;
	margin-right: 10px;
    float: left;
}

.modal {
	height: 80%;
	width: 80%;
    line-height: 3;
}

.modal-content {
	display: block;
}

#spotify-login {
	padding-top: 30px;
	text-align: center;
}

.collection .collection-item.avatar {
	padding-left: 0px;
}

.collection li {
	color: #fff;
	float: left;
	display: inline-table;
	padding: 5px;
	width: 100%;
	height: 20%;
}

.collection img {
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px 10px;;
}