nav {
	background-image: -webkit-linear-gradient(left, #191414 50%, #fff 50%);
	background-image: -moz-linear-gradient(left, #191414 50%, #fff 50%);
}

.navbar-fixed, nav {
	height: 80px;
}

#logo {
	width: 250px;
	padding-top: 7px;
}

div.spotify-wrapper,
div.youtube-wrapper {
	height: 100vh; 
	color: white;
	padding-top: 20px!important;
	/* 
	vh is a unit of measurement of current viewport (window)
	1vh == 1% viewport height so 100vh == 100% viewport height. 
	*/
}

div.row.content::after {
	content: none; 
	/*
	since we're using a row to hold all of our content, materialize's default clearfix
	adds an annoying ~10px white space to the bottom of the page. 
	This is a clearfix-fix.
	 */
}

.login-button {
	background-color: #1DB954;
	border-radius: 25px;
	color: white;
	min-width: 280px;
	height: 60px;
	font-size: 18px;
}

.login-button img {
	width: 32px;
	margin-right: 10px;
    float: left;
}

.modal {
	height: 80%;
	width: 80%;
    line-height: 3;
}

.modal-content {
	display: block;
}

#spotify-login {
	padding-top: 30px;
	text-align: center;
}

.convert-button {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	background-color: red;
	float: right;
}

/* Side Nav Styles */
/*-------------------------------------------*/
.collection .collection-item.avatar {
	padding-left: 0px;
}

.collection li p, .title {
	padding: 2px 0px;
	color: #7b7b7b;
}

.collection .collection-item.avatar .title {
	font-weight: 400;
	color: #fff;
}

.collection .collection-item.avatar .album-art {
	bottom: 25px;
	width: 60px;
	height: 60px;
	margin-left: 15px;
	float: left;
}

.side-nav li>a>i.material-icons {
	color: #1DB954;
	margin: 0px;
}

.text-body {
	width: 50%;
	position: relative;
	left: 5%;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.player {
	background-color: black;
	border-radius: 15px;
	font-family: arial;
	width: 55%;
}

.playlistImages {
	width: 60px;
	height: 60px;
	float: left;
}
